
body {
/*	background: #F2E9E4;*/
	/* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #ef32d9, #89fffd);*/
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	margin-top:100px;
}

h1, h2, h3, h4, h5{
	color:#4A4E69 !important;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px lightgrey;
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}


.about-me {
	margin-top:25px;
}

nav {
	display: flex;
}

.navbar-default {
	background-color: #93ca44;
	border: none;
	border-radius:0;
}

.navbar-text a.navbar-link {
	color:white;
	font-size: 1.3em;
	font-weight: bolder;
}

.row-grey {
	background-color: #f9f9f9;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.row-grey .work-item-row, .row-white .work-item-row {
    margin-bottom: 15px;
}

.row-white {
	/*background-color: lightgrey;*/
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
	/*clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);*/
	padding: 65px 10px;
}

.row-footer {
/*	background-color: lightgrey;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);*/
	padding: 65px 10px;
}

.work-item-row {
	/*padding: 10% 0;*/
}

.row-tools {
  padding: 50px 0;
}

.linkedin-btn {
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #e91e63;
	color:white;
    margin: 5px;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #3d7140;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.modal-content {
    border-radius: 0;
}

.modal-body-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;
}
.modal-content-img {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}
.modal{
    padding: 0 !important;
    height: 100%;
    overflow-y: hidden !important;
}
.modal-header {
    border-bottom: none;
    padding: 15px 20px !important;
    position: relative;
    z-index: 1;
}
.modal-backdrop {
   background-color: white;
   opacity: 1 !important;
}
.close-btn{
    background-color: #fff !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #333 !important;
    opacity: 1 !important;
    font-size: 24px !important;
    line-height: 1 !important;
    padding-bottom: 4px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: all 0.3s ease !important;
    z-index: 1051 !important;
    position: relative !important;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #f44336 !important;
    color: #fff !important;
    border-color: #f44336 !important;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(244, 67, 54, 0.3) !important;
}

#app-title {
    margin-top: -30px;
    margin-bottom: 30px;
    color: #337ab7 !important;
}
.app-title {
    color: #337ab7 !important;
}
.uc{
    display: block;
    margin: auto;
    width: 350px;
}

.ytv{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  background-color: #000;
}
.ytv iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: none;
  transform: translate(-50%, -50%) scale(1.01);
  transform-origin: center center;
}
.techlogo {
    margin: 10px;
}